@import "tailwindcss";
@import "fumadocs-ui/css/purple.css";
@import "fumadocs-ui/css/preset.css";
@import "@fontsource/geist-sans/latin.css";

@theme {
  --font-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
}
